extends layout 
block content 
        .jumbotron.jumbotron-fluid
                .container
                  h1 USER MANAGEMENT SYSTEM
                  p
                     | This app is built for the learn purpose for familize node express we development
        .container
                p This is some text.
                p This is another text.